{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        kotyo/clj-rocksdb {:mvn/version "0.1.6"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.taoensso/nippy {:mvn/version "3.1.1"}
        io.replikativ/konserve {:mvn/version "0.6.0-SNAPSHOT"}
        io.replikativ/superv.async {:mvn/version "0.2.11"}}
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}}
                  :extra-paths ["test"]}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.116"}}
                 :main-opts ["-m" "hf.depstar.jar" "replikativ-konserve-rocksdb.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "replikativ-konserve-rocksdb.jar"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}
           :ffix {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                  :main-opts ["-m" "cljfmt.main" "fix"]}}}

